.container
  .row
    .col-xl-12
      form.my-4
        .form-row.justify-content-end
          .col-auto
            .input-group.mb-2
              input#inlineFormInputGroup.form-control.rounded-0(type='search' placeholder='Buscar')
          .col-auto
            button.btn.btn-primary.mb-2.rounded-0(type='submit') 
              i.fas.fa-search
    .col-xl-9
      .post-blog
        a.link-primary--clear.link(href='#')
          .post-head
            h1.title-xl.c-tertiary Titulo do post
          .post-body
            .post-thumb
              img.img-fluid(src="https://unsplash.it/800/600?random&seed=0", alt="")
            .post-caption
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem reiciendis et nobis, sunt distinctio odit repellat, officiis cumque quae illo. Magni recusandae explicabo quibusdam unde architecto ut veniam quos?
        .post-footer
          small Publicado em 
      .post-blog
        .post-head
          h1.title-xl.c-tertiary Titulo do post
        .post-body
          .post-thumb
            img.img-fluid(src="https://unsplash.it/800/600?random&seed=1", alt="")
          .post-caption
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem reiciendis et nobis, sunt distinctio odit repellat, officiis cumque quae illo. Magni recusandae explicabo quibusdam unde architecto ut veniam quos?
        .post-footer
          small Publicado em 
      .post-blog
        .post-head
          h1.title-xl.c-tertiary Titulo do post
        .post-body
          .post-thumb
            img.img-fluid(src="https://unsplash.it/800/600?random&seed=2", alt="")
          .post-caption
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem reiciendis et nobis, sunt distinctio odit repellat, officiis cumque quae illo. Magni recusandae explicabo quibusdam unde architecto ut veniam quos?
        .post-footer
          small Publicado em 
      .post-blog
        .post-head
          h1.title-xl.c-tertiary Titulo do post
        .post-body
          .post-thumb
            img.img-fluid(src="https://unsplash.it/800/600?random&seed=3", alt="")
          .post-caption
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem reiciendis et nobis, sunt distinctio odit repellat, officiis cumque quae illo. Magni recusandae explicabo quibusdam unde architecto ut veniam quos?
        .post-footer
          small Publicado em 

      .py-4.border-top
        nav(aria-label='Page navigation example')
          ul.pagination
            li.page-item
              a.page-link.link-primary--clear.link(href='#') Voltar
            li.page-item
              a.page-link.link-primary--clear.link(href='#') 1
            li.page-item
              a.page-link.link-primary--clear.link(href='#') 2
            li.page-item
              a.page-link.link-primary--clear.link(href='#') 3
            li.page-item
              a.page-link.link-primary--clear.link(href='#') Próximo

    .col-xl-3
      aside.aside.my-4
        .card.mb-2
          .card-header.card--primary
            strong Categorias
          .card-body
            ul.card-list
              li
                a.link-primary--clear.link(href='#') Projetos
              li
                a.link-primary--clear.link(href='#') Novidades
              li
                a.link-primary--clear.link(href='#') Planos
        .card.mb-2
          .card-header.card--primary
            strong Categorias
          .card-body
            ul.card-list
              li
                a.link-primary--clear.link(href='#') Projetos
              li
                a.link-primary--clear.link(href='#') Novidades
              li
                a.link-primary--clear.link(href='#') Planos
        .card.mb-2
          .card-header.card--primary
            strong Categorias
          .card-body
            ul.card-list
              li
                a.link-primary--clear.link(href='#') Projetos
              li
                a.link-primary--clear.link(href='#') Novidades
              li
                a.link-primary--clear.link(href='#') Planos

