mixin post(src)
  .post-blog
    a.link-primary--clear.link(href='#')
      .post-head
        a.link-primary--clear.link(href='#')
          h3.title-xl.c-tertiary Titulo do post
      .row
        .col-md-4.mb-4
          a.link-primary--clear.link(href='#')
            img.img-fluid(src=src, alt="")
        .col-md-8.mb-4
          a.link-primary--clear.link(href='#') Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolorum libero eos veritatis delectus et ipsum non maxime iure? Voluptatum tempore eius quidem inventore eos. Distinctio alias harum voluptatem! Quod.
    .post-footer
      small Publicado em
mixin card-top(src)
  .card.rounded-0
    .embed-responsive.embed-responsive-4by3
      img.embed-responsive-item.card-img-top(src=src alt='...')
    .card-body
      h5.card-title Card title
      p.card-text
        | Some quick example text to build on the card title and make up the bulk of the card's content.
      a.btn.btn-primary.rounded-0(href='#') Go somewhere
.container
  .row
    .col-xl-12
      form.my-4
          .d-flex
            .input-group.mb-2
              input#inlineFormInputGroup.form-control.rounded-0(type='search' placeholder='Buscar')
            button.btn.btn-primary.mb-2.rounded-0(type='submit')
              i.fas.fa-search
    .col-xl-12
      .row
        .col-xl-4.mb-4
          +card-top('https://unsplash.it/1500/740?random&seed=1')
        .col-xl-4.mb-4
          +card-top('https://unsplash.it/900/700?random&seed=2')
        .col-xl-4.mb-4
          +card-top('https://unsplash.it/800/600?random&seed=3')
    .col-xl-9
      +post('https://unsplash.it/800/600?random&seed=1')
      +post('https://unsplash.it/800/600?random&seed=2')
      +post('https://unsplash.it/800/600?random&seed=3')
      +post('https://unsplash.it/800/600?random&seed=4')
      +post('https://unsplash.it/800/600?random&seed=5')
      +post('https://unsplash.it/800/600?random&seed=6')
      +post('https://unsplash.it/800/600?random&seed=7')
      .py-4.border-top
        nav(aria-label='Page navigation example')
          ul.pagination
            li.page-item
              a.page-link.link-primary--clear.link(href='#') Voltar
            li.page-item
              a.page-link.link-primary--clear.link(href='#') 1
            li.page-item
              a.page-link.link-primary--clear.link(href='#') 2
            li.page-item
              a.page-link.link-primary--clear.link(href='#') 3
            li.page-item
              a.page-link.link-primary--clear.link(href='#') Próximo

    .col-xl-3
      aside.aside.my-4
        .card.mb-2.rounded-0
          .card-header
            strong Categorias
          .card-body.card-list--parent
            ul
              li
                a.link-primary--clear.link(href='#') Projetos
              li
                a.link-primary--clear.link(href='#') Novidades
              li
                a.link-primary--clear.link(href='#') Planos
        .card.mb-2.rounded-0
          .card-header
            strong Categorias
          .card-body.card-list--parent
            ul
              li
                a.link-primary--clear.link(href='#') Projetos
              li
                a.link-primary--clear.link(href='#') Novidades
              li
                a.link-primary--clear.link(href='#') Planos
        .card.mb-2.rounded-0
          .card-header
            strong Categorias
          .card-body.card-list--parent
            ul
              li
                a.link-primary--clear.link(href='#') Projetos
              li
                a.link-primary--clear.link(href='#') Novidades
              li
                a.link-primary--clear.link(href='#') Planos

