section.space_content-y(role='Por que taurus?')
  .container
    .row
      .col-xl-12.text-center.space_title-b
        h2.title-xl.c-tertiary Porque Taurus?
      .col-xl-3.text-center.c-tertiary.mb-2
        img.img-fluid.w-25(src="images/security.svg", alt="Segurança na Taurus")
        .my-2.title.title-m Segurança
        p.my-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam obcaecati, 
      .col-xl-3.text-center.c-tertiary.mb-2
        img.img-fluid.w-25(src="images/discount.svg", alt="Fidelidade na Taurus")
        .my-2.title.title-m Fidelidade
        p.my-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam obcaecati, 
      .col-xl-3.text-center.c-tertiary.mb-2
        img.img-fluid.w-25(src="images/feather.svg", alt="Facilidade na Taurus")
        .my-2.title.title-m Facilidade
        p.my-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam obcaecati, 
      .col-xl-3.text-center.c-tertiary.mb-2
        img.img-fluid.w-25(src="images/user.svg", alt="Especialistas da Taurus")
        .my-2.title.title-m Especialistas
        p.my-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam obcaecati, 
section.space_content-y.bg-section(role='Seguradoras')
  .container
    .row
      .col-xl-12.text-center.space_title-b
        h2.title-xl.c-tertiary.m-0 Seguradoras
      .col-xl-12
        .d-flex.justify-content-around.flex-wrap
          img.mb-2.img-fluid(src="images/seguradoras/porto.png", alt="Porto Seguro")
          img.mb-2.img-fluid(src="images/seguradoras/liberty.png", alt="Liberty Seguros")
          img.mb-2.img-fluid(src="images/seguradoras/hdi.png", alt="HDI Seguros")
          img.mb-2.img-fluid(src="images/seguradoras/sulamerica.png", alt="Sulamerica")
          img.mb-2.img-fluid(src="images/seguradoras/alfa.png", alt="Alfa Seguros")
          img.mb-2.img-fluid(src="images/seguradoras/mapfre.png", alt="Mapfre Seguros")
          img.mb-2.img-fluid(src="images/seguradoras/tokio.png", alt="Tokio Seguros")
          img.mb-2.img-fluid(src="images/seguradoras/bradesco.png", alt="Bradesco Seguros")
          img.mb-2.img-fluid(src="images/seguradoras/itau.png", alt="Itau Seguros")
section.space_content-y.bg-primary(role='Seguros')
  .container
    .row
      .col-xl-12.text-center.space_title-b
        h2.title-xl.white.m-0 Seguros
      .col-xl-12
        .d-flex.justify-content-around.flex-wrap.text-center
          a.img_box.link.link-deep--cousin(href='#')
            img.img-fluid(src="images/car.svg", alt="Carro")
            .title-sm Carro
          a.img_box.link.link-deep--cousin(href='#')
            img.img-fluid(src="images/home.svg", alt="Casa")
            .title-sm Casa
          a.img_box.link.link-deep--cousin(href='#')
            img.img-fluid(src="images/phone.svg", alt="Eletrônicos")
            .title-sm Eletrônico
          a.img_box.link.link-deep--cousin(href='#')
            img.img-fluid(src="images/heart.svg", alt="Vida")
            .title-sm Vida
          a.img_box.link.link-deep--cousin(href='#')
            img.img-fluid(src="images/accident.svg", alt="Acidentes Pessoais")
            .title-sm Acidentes Pessoais
          a.img_box.link.link-deep--cousin(href='#')
            img.img-fluid(src="images/build.svg", alt="Empresas")
            .title-sm Empresas
          a.img_box.link.link-deep--cousin(href='#')
            img.img-fluid(src="images/airplan.svg", alt="Viagem")
            .title-sm Viagem
section(role='map')
  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d959.7741979252996!2d-47.89383697076231!3d-15.798849508873012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3ae901e3a94b%3A0x42808633ed137875!2sAssis%20Chateaubriand%20SRTVS!5e0!3m2!1spt-BR!2sbr!4v1606835938094!5m2!1spt-BR!2sbr' width="100%" height="400" frameborder="0" style="border:0" allowfullscreen="")
section(role='galeria')
section(role='Seguro e Bastidores')
  .hero.hero-item--2
    .container-fluid.h-100
      .row.h-100
        .col-xl-12
          .d-flex.align-items-center.h-100.justify-content-center.flex-column
            img.img-fluid.control-logo(src="images/logo_seguroebastidores.svg", alt="Seguro e Bastidores")
            h3.text-shadow.white SERVIÇO DE UTILIDADE PÚBLICA
            P.text-shadow.white Seguro e bastidores conta com um vasto conteúdo de ajuda securitária automovel, podendo participar e fazer perguntas. clique aqui e tire suas dúvidas.
            a.btn.btn-primary(href='http://www.seguroebastidores.com.br' target='_blank') Ir para o site
section.space_content-y.contact(role='Contato')
  .container
    .row
      .col-xl-12.text-center.space_title-b
        h2.title-xl.white.m-0 Deixe sua mensagem
      .col-xl-6
        form.contact-form
          .form-group
            label.title-sm.white(for='exampleFormControlInput1') Email address
            input#exampleFormControlInput1.form-control(type='email' placeholder='name@example.com')
          .form-group
            label.title-sm.white(for='exampleFormControlSelect1') Example select
            select#exampleFormControlSelect1.form-control
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.title-sm.white(for='exampleFormControlTextarea1') Example textarea
            textarea#exampleFormControlTextarea1.form-control(rows='3')
          .form-group
            .text-right
              a.btn.btn-success(href='#') Enviar
      .col-xl-6
        p
          a.link.link-deep--cousin(href='#')
            i.fas.fa-map-marker-alt 
            | &nbsp; SRTVS QD. 701 CONJ L ED Assis Chateaubriand 1º andar sala 111
        p
          a.link.link-deep--cousin(href='#')
            i.fas.fa-phone 
            | &nbsp; (61) 3322-7826
        p.white
          i.fas.fa-map-marker-alt 
          | &nbsp; Cep: 70340-906
        p.white Você também pode entrar em contato por aqui...
        p.contact-social
          span
            a.link.link-deep--whatsapp(href='#')
              i.fab.fa-whatsapp
          span
            a.link.link-deep--facebook(href='#')
              i.fab.fa-facebook
          span
            a.link.link-deep--instagram(href='#')
              i.fab.fa-instagram
section.space_content-y.bg-gradient(role='Marca Taurus Seguros')
   .container-fluid.h-100
      .row.h-100
        .col-xl-12
          .d-flex.align-items-center.h-100.justify-content-center.flex-column
            img(src="images/logo3d.png", alt="Logo 3D Taurus")