section(role='Por que taurus?')
  .container
    .row
      .col-xl-12.text-center
        h2 Porque Taurus?
      .col-xl-4
        img(src="", alt="")
        .title
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam obcaecati, 
      .col-xl-4
        img(src="", alt="")
        .title
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam obcaecati, 
      .col-xl-4
        img(src="", alt="")
        .title
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam obcaecati, 
      .col-xl-4
        img(src="", alt="")
        .title
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam obcaecati, 
section(role='Seguradoras')
  .container
    .row
      .col-xl-12.text-center
        h2 Seguradoras
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
section(role='Seguros')
  .container
    .row
      .col-xl-12.text-center
        h2 Seguros
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
      .col
        a(href='#')
          img.img-fluid(src="", alt="")
section(role='map')
  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d959.7741979252996!2d-47.89383697076231!3d-15.798849508873012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3ae901e3a94b%3A0x42808633ed137875!2sAssis%20Chateaubriand%20SRTVS!5e0!3m2!1spt-BR!2sbr!4v1606835938094!5m2!1spt-BR!2sbr' width="100%" height="400" frameborder="0" style="border:0" allowfullscreen="")
section(role='galeria')
section(role='Seguro e Bastidores')
  .hero.text-center
    img(src="", alt="")
    h2 SEGURO E BASTIDORES
    h3 SERVIÇO DE UTILIDADE PÚBLICA
    P Seguro e bastidores conta com um vasto conteúdo de ajuda securitária automovel, podendo participar e fazer perguntas. clique aqui e tire suas dúvidas.
section(role='Contato')
  .container
    .row
      .col-xl-12.text-center
        h2 Deixe sua mensagem
      .col-xl-6
        form
          .form-group
            label(for='exampleFormControlInput1') Email address
            input#exampleFormControlInput1.form-control(type='email' placeholder='name@example.com')
          .form-group
            label(for='exampleFormControlSelect1') Example select
            select#exampleFormControlSelect1.form-control
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label(for='exampleFormControlTextarea1') Example textarea
            textarea#exampleFormControlTextarea1.form-control(rows='3')
          .form-group
            .text-right
              a.btn.btn-success(href='#') Enviar
      .col-xl-6
        p:a(href='#')
          i.fas.fa-location
          | Endereço: Centro Empresarial Assis Chateaubriand :: SRTVS QD. 701 CONJUNTO L
        p:a(href='#')
          i.fas.fa-phone
          | Telefone: (61) 3322-7826
        p
          i.fas.fa-location
          | Cep: 70340-906
        p Você também pode entrar em contato por aqui...
        p
          span
            a(href='#')
              i.fas.fa-whatsapp
              | Whatsapp
          span
            a(href='#')
              i.fas.fa-facebook
          span
            a(href='#')
              i.fas.fa-instagram
section(role='Marca Taurus Seguros')
  .hero.text-center
    img(src="", alt="")