footer.footer
  .container
    .row
      .col-xl-6.copyright
        small Copyright ® 2020 Todos os direitos reservados https://www.tauruseguros.com.br
      .col-xl-6.assinaruta
        a(href='#')
          small Developement by Carlosvz
