nav.navbar_control
  .container-fluiid
    .row
      .col-lg-6
        .navbar_control-brand
          img.img-fluid(src="", alt="")
      .col-lg-6
        ul
          li Horario de funcionamento de 08h às 12h e 14h às 18h
          li  
            a()
              | +55 61 3525-4145
              i.fas.fa-fone
          li  
            a()
              | Fale conosco
              i.fas.fa-fone
          li  
            a(href='#')
              i.fab.fa-facebook
          li  
            a(href='#')
              i.fab.fa-instagram
section(role='Apresentação')
  .hero
    .container
      .row
        .col-xl-12
          nav
            ul
              li  anchor
              li  anchor
              li  anchor
              li  anchor
              li  anchor
        .col-xl-6 

        .col-xl-6
          h1 Taurus Seguros 40 anos
          p Kits de desconto em oficinas
          p Assistência jurídica
          a.btn.btn-lg.btn-success(href='#' title='cotação')
            | Cotação on-line
            i.fas.fa-calc
          a.btn.btn-lg.btn-success(href='#' title='vendedor')
            | Fale com um vendedor
            i.fas.fa-user