include navbar.pug
section.hero.hero-item(role='Apresentação')
  .setsubbackground.hero-item--3
    .container
      .row
        .col-xl-12
          .d-none.d-lg-block
            .py-4
              ul.navbar_control-list.navbar_control-link--white
                include nav.pug
        .col-xl-12.text-right
          h1.title-xxl.title-m.white Taurus Corretora <br> de Seguros
          .d-none.d-md-block
            p.c-tertiary.title-lg Kits de desconto em oficinas
            p.c-tertiary.title-lg Assistência jurídica
          .navbar_control-btn.d-none.d-md-block
            a.btn.rounded-0.btn-lg.btn-success(href='#' title='cotação') 
              i.fas.fa-calculator 
              |  Cotação on-line
            a.btn.rounded-0.btn-lg.btn-primary(href='#' title='vendedor') 
              i.fas.fa-user 
              |  Fale com um vendedor
section.d-block.d-md-none(role='Apresentação')
  .btn-group.navbar_control-btn
    a.btn.rounded-0.btn-success(href='#' title='cotação') 
      i.fas.fa-calculator 
      |  Cotação on-line
    a.btn.rounded-0.btn-primary(href='#' title='vendedor') 
      i.fas.fa-user 
      |  Fale com um vendedor
