nav.navbar_control
  .container-fluid.h-100
    .row.h-100
      .col-lg-6.navbar_control-display
        a(href='#').navbar_control-brand
          img.img-fluid(src="images/logo-white.svg", alt="Logo Taurus Seguros")
      .col-lg-6.navbar_control-display
        ul.navbar_control-list.navbar_control-list--right
          li
            i.fas.fa-clock &nbsp;
            | Horario de funcionamento de 08h às 12h e 14h às 18h
          li  
            a.link.navbar_control-link(href='tel:' title='Telefone Taurus seguros')
              i.fas.fa-phone &nbsp;
              | +55 61 3525-4145
          li  
            a.link.navbar_control-link(href='tel:' title='Contatos Taurus seguros')
              i.fas.fa-comment &nbsp;
              | Fale conosco
          li  
            a.link.link-deep--facebook(href='#' title='Taurus Facebook')
              i.fab.fa-facebook
          li  
            a.link.link-deep--instagram(href='#' title='Taurus Instagram')
              i.fab.fa-instagram
section.hero.hero-item(role='Apresentação')
  .container
    .row
      .col-xl-12
        ul.navbar_control-list.py-4
          li
            a.link.navbar_control-link(href='#') links
          li
            a.link.navbar_control-link(href='#') links
          li
            a.link.navbar_control-link(href='#') links
          li
            a.link.navbar_control-link(href='#') links
          li
            a.link.navbar_control-link(href='#') links
      .col-xl-4 

      .col-xl-8.text-right
        h1.title-xxl.title-m.white 40 anos de seguros
        p.c-tertiary.title-lg Kits de desconto em oficinas
        p.c-tertiary.title-lg Assistência jurídica
        .btn_control
          div
            a.btn.btn-lg.btn-success(href='#' title='cotação') 
              i.fas.fa-calculator 
              |  Cotação on-line
          div
            a.btn.btn-lg.btn-primary(href='#' title='vendedor') 
              i.fas.fa-user 
              |  Fale com um vendedor