
li
  a.link.nav-item(href='#porquetaurus') Porque Taurus?
li
  a.link.nav-item(href='#seguradoras') Seguradoras
li
  a.link.nav-item(href='#seguros') Seguros
li
  a.link.nav-item(href='#seguroebastidores') Seguro e Bastidores
li
  a.link.nav-item(href='#contatos') Contatos