li
  i.fas.fa-clock &nbsp;
  | Horario de funcionamento de 08h às 12h e 14h às 18h
li  
  a.link-deep.link.navbar_control-link(href='tel:' title='Telefone Taurus seguros')
    i.fas.fa-phone &nbsp;
    | +55 61 3525-4145
li  
  a.link-deep.link.navbar_control-link(href='#contatos' title='Contatos Taurus seguros')
    i.fas.fa-comment &nbsp;
    | Fale conosco
li  
  a.link.link-deep--facebook(href='#' title='Taurus Facebook')
    i.fab.fa-facebook
li  
  a.link.link-deep--instagram(href='#' title='Taurus Instagram')
    i.fab.fa-instagram