// BACKGROUNDS
.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-tertiary {
  background-color: $tertiary;
}

.bg-default {
  background-color: $default;
}

.bg-cousin {
  background-color: $cousin;
}

.c-primary {
  color: $primary;
}

.c-secondary {
  color: $secondary;
}

.c-tertiary {
  color: $tertiary;
}

.c-default {
  color: $default;
}

.c-cousin {
  color: $cousin;
}
