// VARIABLES THEMA SYSTEM COLORS
$primary: #00305c;
$secondary: #005b9e;
$tertiary: #0095da;
$default: #f1f1f1;
$cousin: #faa731;
$link: #27425c;
$linkhover: #3e6892;
$cut: #ccc;

// Transitions
$linktransition: color 0.15s linear;

// Scales
$giga:                        96px;
$mega:                        72px;
$kilo:                        48px;
$pounds:                      40px;
$alpha:                       36px;
$beta:                        32px;
$gamma:                       28px;
$delta:                       24px;
$epsilon:                     20px;
$zeta:                        18px;
$eta:                         16px;
$milli:                       12px;
$micro:                       10px;
