.card--primary {
  color: white;
  background-color: $primary;
}

.card-list {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}

.card--img {
  img {
    object-fit: cover;
  }
}

.object--cover {
  object-fit: cover;
}

.card-list--parent {
  padding: 10px;
  font-size: 14px;

  > ul {
    margin: 0;
    padding-left: 15px;
  }

  > a {
    color: $primary;
    transition: $linktransition;
    text-decoration: none;

    &:hover {
      color: $tertiary;
      text-decoration: none;
    }
  }
}
