.embed-res {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-res-2by2 {
  padding-bottom: 33%;
}

.embed-res-16by9 {
  padding-bottom: 55%;
}

.embed-res-3by2 {
  padding-bottom: 66.667%;
}

.max-width {
  width: 100px;
  height: 55px;
}
