.title--hero {
  font-size: 120px;
  font-family: impactreg, 'Arial Narrow Bold', sans-serif;
  color: white;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-style: italic;
  line-height: 0.9;

  @include media-breakpoint-down(xs) {
    font-size: 90px;
  }
}

.hero--container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include media-breakpoint-down(md) {
    justify-content: flex-end;
  }
}

.hero {
  height: 630px;
  background-attachment: fixed;
  background-position: 50% top;
  background-repeat: no-repeat;
  // background-size: contain;
}

.hero-head {
  display: flex;
  align-items: center;
  min-height: 130px;
  background-color: hsla(35, 95%, 59%, 0.8);
}

.hero-body {
  display: flex;
  align-items: center;
}

.hero-item2 {
  background-image: url();
}

.hero-item {
  background-image: url('../../images/hero.jpg');
}

.hero-item--3 {
  background-image: url('../../images/man.png');
}

.hero-item--2 {
  background-image: url('../../images/hero2.jpg');
  background-size: cover;
}

.setsubbackground {
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 700px;
  height: 100%;
}

@include media-breakpoint-down(lg) {
  .hero {
    background-position: -100px top;
    background-size: initial;
    height: 500px;
  }

  .setsubbackground {
    background-size: 550px;
  }
}
