// .mosaic-margin > :first-child { margin-left: 0 !important; margin-right: 0 !important; }
.mosaic--margin > :last-child {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mosaic_content {
  position: relative;
  width: calc(20% - 1px);
  //margin: auto;
  overflow: hidden;
}

.mosaic_img {
  height: 100%;
  object-fit: cover;
}

.mosaic_details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.mosaic_overlay {
  background: rgba(34, 34, 85, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;

  &:hover {
    opacity: 1;

    .mosaic_details {
      top: 50%;
      left: 50%;
      opacity: 1;
    }
  }
}

.mosaic_embed {
  overflow: hidden;
  max-height: 250px;
  margin-right: 1px;
  margin-bottom: 1px;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}
