.navbar_control {
  background-color: $primary;
  box-shadow: $box-shadow-sm;
  z-index: 2;
  min-height: 40px;
  // display: flex;
  // align-items: center;
}

.navbar_control-display {
  align-items: center;
  display: flex;
}

.navbar_control-list {
  margin: 0;
  padding: 0;
  width: 100%;

  > li {
    list-style: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@include media-breakpoint-down(md) {
  .navpri {
    display: flex;
    justify-content: center;
  }
}

@include media-breakpoint-up(lg) {
  .navbar_control-list {
    > li {
      display: inline;
    }

    > li:not(:first-child) {
      margin-left: 15px;
    }
  }
}

.navbar_control-list--right {
  text-align: right;
}

.navbar_control-link--primary > li {
  color: $primary;

  a {
    color: $primary;
    font-weight: bold;

    &:hover {
      color: $cousin;
    }
  }
}

.navbar_control-link--white > li {
  color: $white;

  a {
    color: white;
    font-weight: bold;
    display: inline;

    &:hover {
      color: #ccc;
    }
  }
}

.navbar_control-brand {
  margin-right: 15px;

  img {
    width: 150px;
  }
}

.navbar_control-btn {
  a,
  button {
    &:not(:first-child) {
      margin-left: 5px !important;
    }

    margin-bottom: 15px;
  }
}

.button {
  display: inline-block;
  background-color: $secondary;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;

  &:hover {
    cursor: pointer;
    background-color: #333;
  }
}

.nav-none {
  display: none;
}

.transition {
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.transition:active {
  background-color: #555;
}

.show {
  opacity: 1;
  visibility: visible;
}

.a--active {
  color: $secondary !important;
  border-bottom: 5px solid $secondary;
}
