.giga {
  font-size: $giga;
}

.mega {
  font-size: $mega;
}

.kilo {
  font-size: $kilo;
}

.pounds {
  font-size: $pounds;
}

.alpha {
  font-size: $alpha;
}

.beta {
  font-size: $beta;
}

.gamma {
  font-size: $gamma;
}

.delta {
  font-size: $delta;
}

.epsilon {
  font-size: $epsilon;
}

.zeta {
  font-size: $zeta;
}

.eta {
  font-size: $eta;
}

.milli {
  font-size: $milli;
}

.micro {
  font-size: $micro;
}
