// FONT-SIZE 24px
.title {
  font-size: $delta;
  line-height: 1.2;
}

.title-m {
  font-weight: 600;
}
// FONT-SIZE 20px
.title-sm {
  font-size: $epsilon;
}
// FONT-SIZE 18px
.title-xs {
  font-size: $zeta;
}
// FONT-SIZE 28px
.title-lg {
  font-size: $gamma;
}
// FONT-SIZE 40px
.title-xl {
  font-size: $pounds;
}
// FONT-SIZE 72px
.title-xxl {
  font-size: $mega;
}

.text {
  font-size: 1rem;
  margin: 0;
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  // FONT-SIZE 20px
  .title {
    font-size: $epsilon;
  }
  // FONT-SIZE 18px
  .title-sm {
    font-size: $zeta;
  }
  // FONT-SIZE 24px
  .title-lg {
    font-size: $delta;
  }
  // FONT-SIZE 36px
  .title-xl {
    font-size: $alpha;
  }
  // FONT-SIZE 40px
  .title-xxl {
    font-size: $pounds;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  // FONT-SIZE 18px
  .title {
    font-size: $zeta;
  }
  // FONT-SIZE 18px
  .title-sm {
    font-size: $zeta;
  }
  // FONT-SIZE 20px
  .title-lg {
    font-size: $epsilon;
  }
  // FONT-SIZE 28px
  .title-xl {
    font-size: $gamma;
  }
  // FONT-SIZE 36px
  .title-xxl {
    font-size: $alpha;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  // FONT-SIZE 16px
  .title {
    font-size: $eta;
  }
  // FONT-SIZE 16px
  .title-sm {
    font-size: $eta;
  }
  // FONT-SIZE 18px
  .title-lg {
    font-size: $zeta;
  }
  // FONT-SIZE 24px
  .title-xl {
    font-size: $gamma;
  }
  // FONT-SIZE 28px
  .title-xxl {
    font-size: $gamma;
  }
}
